* {
    margin: 0;
    outline: none;
}
textarea { resize: vertical; }

body {
	text-align: left;
	font-family: 'Segoe UI', sans-serif;
	font-size: 16px;
	flex-direction: column;
	align-items: center;
	display: flex;
	background: #f8f8fa;
}
button {
    border: 2px solid #98007f;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    background-color: #cb00a9;
    box-shadow: inset -1px 3px 0px rgba(255, 255, 255, 0.5),
        2px 3px 2px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: all 0.1s;
    outline: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}
button:hover {
    background-color: #cf3db7;
    border: 2px solid #c949b3;
    transform: scale(1.1);
}
button:active {
    transform: scale(1);
}

.page {
	width: 100%;
	position: relative;
	min-width: 300px;
	max-width: 1200px;
	margin: 0 0 50px 0;
	padding: 0 10px;
}

.content {
	padding: 0 10px;
	display: grid;
}
.content__coloumn-main {
	grid-row-start: 1;
}

.module{
	background: #fff;
	border-radius: 10px;
	border: 1px solid #e9e9e9;
	padding: 15px;
	margin: 10px 5px;
	box-shadow: 0 3px 6px 0px #c8c8c8a8;
}

.page__image {
	width: 100%;
	object-fit: cover;
	cursor: pointer;
}

:root{
    --cell-size:100px;
    --mark-size:calc(var(--cell-size)*0.9);
}

.title{
    font-size: 30px;
    color:black;
	border-bottom: 1px solid #ececec;
}
.field{
	color: #c4c4c4;
}
.ticTacToe{
    position: relative;
}
.ticTacToe__title{
    margin-bottom: 10px;
    text-align: center;
}
.ticTacToe__content{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
}
.ticTacToe__score{
    text-align: center;
    padding: 15px;
    font-size: 20px;
}
.ticTacToe__restartBtn{
    width: 250px;
    padding: 15px;
    justify-self: center;
    margin: 10px 0;
}
.ticTacToe__gameModeSelector{
    grid-column-start: span 2;
    display: flex;
    justify-content: center;
    
}
.gameMessages{
    overflow-y: scroll;
    height: 400px;
    grid-row-start: span 3;
}
.gameMessages__message{
    padding: 0 0 0 5px;
}
.gameMessages__container{
    margin: 15px 0;
}
.gameMessages__title{
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
    border-bottom: 1px solid #ececec;
}
.gameMessages__title--win{
    background-color: rgba(170, 255, 0, 0.2);
}
.gameMessages__title--lose{
    background-color: rgba(252, 0, 0, 0.2);
}
.gameMessages__title--draw{
    background-color: rgba(214, 252, 0, 0.2);
}
.bottomMessage{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.bottomMessage__message{
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

.gameGrid{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3,auto);
    position: relative;
}
.gameGrid--diagonalLine::after{
    content: '';
    position: absolute;
    width: calc(var(--cell-size)* .15);
    height: calc(var(--cell-size)*4);
    background-color: #000;
}
.gameGrid--diagonalLine::after{
    transform: rotate(45deg);
}

.gameGrid--line::after{
    content: '';
    position: absolute;
    width: calc(var(--cell-size)* .15);
    height: calc(var(--cell-size)*3);
    background-color: #000;
}
/* .gameGrid--line::after{
    transform: rotate(0deg);
} */
.gameGrid--line::after{
    transform: rotate(90deg);
    bottom: calc(var(--cell-size) + var(--cell-size)* .075);
}


.gameGrid__cell{
    width: var(--cell-size);
    height: var(--cell-size);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border: 1px solid #a600ff;
    font-size: 80px;
    position: relative;
}

.gameGrid--x .gameGrid__cell:not(.gameGrid__cell--x):not(.gameGrid__cell--o):hover::after,
.gameGrid--x .gameGrid__cell:not(.gameGrid__cell--x):not(.gameGrid__cell--o):hover::before{
    background-color: #e1a9ff;
}
.gameGrid__cell--x::after,
.gameGrid__cell--x::before{
    background-color: #a600ff;
}

.gameGrid--o .gameGrid__cell:not(.gameGrid__cell--x):not(.gameGrid__cell--o):hover::after,
.gameGrid--o .gameGrid__cell:not(.gameGrid__cell--x):not(.gameGrid__cell--o):hover::before{
    border-color:  #e1a9ff;
}

.gameGrid__cell--o::after,
.gameGrid__cell--o::before{
    
    border-color: #a600ff;
}

.gameGrid__cell--highlight{
    background-color: #bfd0ff;
}

.gameGrid__cell--x::after,
.gameGrid__cell--x::before,
.gameGrid--x .gameGrid__cell:not(.gameGrid__cell--x):not(.gameGrid__cell--o):hover::after,
.gameGrid--x .gameGrid__cell:not(.gameGrid__cell--x):not(.gameGrid__cell--o):hover::before{
    content: '';
    position: absolute;
    width: calc(var(--mark-size)* .15);
    height: var(--mark-size);
}

.gameGrid__cell--x::after,
.gameGrid--x .gameGrid__cell:not(.gameGrid__cell--x):not(.gameGrid__cell--o):hover::after{
    transform: rotate(45deg);
}
.gameGrid__cell--x::before,
.gameGrid--x .gameGrid__cell:not(.gameGrid__cell--x):not(.gameGrid__cell--o):hover::before{
    transform: rotate(-45deg);
}


.gameGrid__cell--o::after,
.gameGrid__cell--o::before,
.gameGrid--o .gameGrid__cell:not(.gameGrid__cell--x):not(.gameGrid__cell--o):hover::after,
.gameGrid--o .gameGrid__cell:not(.gameGrid__cell--x):not(.gameGrid__cell--o):hover::before{
    content: '';
    position: absolute;
    border-radius: 50%;
}
.gameGrid__cell--o::before,
.gameGrid--o .gameGrid__cell:not(.gameGrid__cell--x):not(.gameGrid__cell--o):hover::before{
    width: var(--mark-size);
    height: var(--mark-size);
}
.gameGrid__cell--o::after,
.gameGrid--o .gameGrid__cell:not(.gameGrid__cell--x):not(.gameGrid__cell--o):hover::after{
    width: calc(var(--mark-size)*0.7);
    height: calc(var(--mark-size)*0.7);
    /* background-color: white; */
    border-width: calc((var(--mark-size) - var(--mark-size)*0.7)/2);
    border-style: solid;
}

